langchain
langchain_community
langchain-openai
langchain-chroma
pydantic
python-dotenv
pypdf2
pypdf
streamlit
pandas
plotly
bibtexparser
replicate
networkx
scipy
# transformers or transformers[torch]
# accelerate
